<div class="bg-slate-600 flex justify-end items-center p-6">
  <button
    id="newBook"
    class="px-4 py-2 bg-slate-50 text-slate-900 font-bold rounded-lg"
    href="/books/new"
  >
    New Book
  </button>
</div>
<div id="books" class="flex flex-wrap w-full p-4"></div>
